<div class="card balance-card">
  <div class="balance-label">Solde disponible</div>
  <div class="balance-amount"><%= formatMoney(account.balance) %></div>
  <div class="card-footer">
    <p>Compte #<%= account.id %> &bull; <%= account.email %></p>
  </div>
</div>
